.list {
  list-style: none;
  margin-left: -0.5em;
}

.list__item {
  padding: 0.4em 0.5em;
  line-height: 1.25;
}

.list__item:nth-of-type(odd) {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0));
}
